/* ページ */
body {
  background-color: #eee;
}

/* レビューリスト */
.review {
  max-height: 0;
  overflow-y: hidden;
}

.review-enter-active {
  max-height: 800px;
  transition: max-height 0.2s ease;
}

.review-enter-done {
  max-height: 800px;
  overflow-y: scroll;
}

.review-exit {
  max-height: 800px;
}

.review-exit-active {
  max-height: 0;
  transition: max-height 0.2s ease;
}
